<div class="auth-container">
    <div class="auth-form-wrapper">
        <h2 class="auth-form-title">Login</h2>
        <form class="auth-form" action="#" method="post">
            <div class="auth-form-group">
                <label for="login-email" class="auth-form-label">Email</label>
                <input type="email" id="login-email" name="login-email" class="auth-form-input"  required>
            </div>
            <div class="auth-form-group">
                <label for="login-password" class="auth-form-label">Password</label>
                <input type="password" id="login-password" name="login-password" class="auth-form-input" required>
            </div>
            <button type="submit" class="auth-form-submit-btn" (click)="login()">Login</button>
        </form>
        <div class="auth-form-switch">
            Don't have an account? <a href="#">Sign up</a>
        </div>
    </div>
</div>