<header class="site-header">
  <div class="container">
    <div class="logo">
      <h1>QuickGrocery</h1>
    </div>
    <nav class="main-nav">
      <ul>
        <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a [routerLink]="['ourProduct']" routerLinkActive="active" >Products</a></li>
        <li><a [routerLink]="['/specialOffer']" routerLinkActive="active">Special Offers</a></li>
        <li><a [routerLink]="['/blog']" routerLinkActive="active">Blog</a></li>
        <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
        <li><a [routerLink]="['/add-to-cart']" routerLinkActive="active"></a>
        <i class="fas fa-shopping-cart"></i>
      </li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<app-footer />