<section class="product-catalogue">
    <div class="container">
        <h2 class="section-title">Our Products</h2>
        <div class="category-filter">
            <ul>
                <li><a [routerLink]="['/ourProduct']" class="active">All</a></li>
                <li><a [routerLink]="['/ourProduct/Fruits']">Fruits</a></li>
                <li><a [routerLink]="['/ourProduct/Vegetables']">Vegetables</a></li>
                <li><a [routerLink]="['/ourProduct/Dairy']">Dairy</a></li>
                <li><a [routerLink]="['/ourProduct/Bakery']">Bakery</a></li>
                <li><a [routerLink]="['/ourProduct/Meat']">Meat</a></li>
            </ul>
        </div>
        <div class="product-grid">
            <app-product-card *ngFor="let item of product" [itemsObj]="item" [routerLink]="['/view-item' , item.category , item.name]"  />
        </div>
    </div>
</section>