<section class="product-catalogue">
    <div class="container">
        <h2 class="section-title">Our Products</h2>
        <div class="category-filter">
            <ul>
                <li><a [routerLink]="['/ourProduct']"  class="active">All</a></li>
                <li *ngFor="let item of categoryItems">
                    <a [routerLink]="['/ourProduct',item]" routerLinkActive="active">{{item}}</a>
                </li>
            </ul>
        </div>
        <div class="product-grid">
            <app-product-card *ngFor="let item of products" [itemsObj]="item" />
        </div>
    </div>
</section>