<div class="category-card">
  <div class="category-image">
    <img src={{itemsObj2.image}} alt="fresh Fruits">
            <span class="badge">Organic</span>
  </div>
  <div class="product-info">
        <h3>{{itemsObj2.name}}</h3>
        <p class="price">${{itemsObj2.price}} <span>per lb</span></p>
        <p class="category">{{itemsObj2.category}}</p>
        <a href="#" class="btn btn-small">Add to Cart</a>
    </div>
</div>

    <!-- <a href="#" class="category-card">
        <img src="https://images.unsplash.com/photo-1610832958506-aa56368176cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
            alt="Fruits">
        <div class="category-name">Fruits</div>
    </a> -->


<!-- 
<div class="product-card">
    <div class="product-image">
        <img src={{itemsObj.image}}
            alt="Fresh Organic Apples">
        <span class="badge">Organic</span>
    </div>
    <div class="product-info">
        <h3>{{itemsObj.name}}</h3>
        <p class="price">${{itemsObj.price}} <span>per lb</span></p>
        <p class="category">{{itemsObj.category}}</p>
        <a href="#" class="btn btn-small">Add to Cart</a>
    </div>
</div> -->